@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
   Author: Micah Fischer
   Date:   10/23/18

   Filename: pcg_paper.css
   Supporting Files: NA

*/

/* Set font. */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Body background color */
body {
    background-color: black;
}

/* Navigation menu grid with font size set and text align set to center. Background color set to black. Navigation links with hover psuedo class.  */
nav {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    font-size: 22px;
    text-align: center;
    background-color: black;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: royalblue;
    text-decoration: none;
    color: white;
}

/* Header set as grid, height set to 300px. */
header {
    background: royalblue;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 300px;
}

header h1 {
    font-size: calc(32px + 4vw);
    font-weight: bold;
    padding-left: 8vw;
    color: white;
}

/* Vertical navigation floated and set to 25% of page. Links floated and set to block. H1 headings for navigation menu sections. */
nav.vertical {
    float: left;
    width: 25%;
    display: block;
}

nav.vertical a {
    display: block;
    text-align: left;
}

nav.vertical h1 {
    font-size: calc(16px + 1vw);
    font-weight: bold;
    color: white;
    text-align: left;
    padding: 10px;
    text-decoration: underline;
}

/* Main set for article layouts. Main section background color set to white. Section heading and paragraph styles set. */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main section {
    background-color: rgb(219, 219, 219);
}

main section h1 {
    background-color: black;
    font-size: calc(16px + 1vw);
    font-weight: bold;
    text-align: left;
    padding: 20px;
    color: white;
}

main section p {
    padding: 0 20px;
}

/* Hides mobile nav, shows desktop nav. */
nav.desktop {
    display: block;
}

nav.mobile {
    display: none;
}

/* Media query adjust styles and widths based on screen size. On mobile devices show mobile menu, on desktop hide desktop navigation. */
@media only screen and (max-width: 1000px) {

    nav {
        overflow-x: auto;
    }

    nav a {
        width: 120px;
    }

    nav.mobile {
        display: block;
        width: 100%;
    }

    nav.mobile a {
        width: 100%;
    }

    nav.desktop {
        display: none;
    }

    main {
        grid-template-columns: 1fr;
    }
}