@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
   Author: Micah Fischer
   Date:   10/23/18

   Filename: pcg_paper.css
   Supporting Files: NA

*/

/* Set font and page background color*/
* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: rgb(11, 24, 24);
}

/* Body background color */
body {
    background-color: rgb(65, 58, 58);
    margin: 0 auto;
    max-width: 1600px;
    min-width: 200px;
}

/* Navigation menu grid with font size set and text align set to center. Background color set to rgb(65, 58, 58). Navigation links with hover psuedo class.  */
nav {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    font-size: 22px;
    text-align: center;
    background-color: rgb(65, 58, 58);
    z-index: 100;
}

nav:first-of-type {
    position: sticky;
    top: 0;
}

nav a {
    padding: 20px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: rgb(11, 24, 24);
    text-decoration: none;
    color: white;
}

/* Header set as grid, height set to 96vh. Height set to almost full height of device to allow space for top navigation bar. Background fixed for parallax effect. */
header {
    background: url("https://images.unsplash.com/photo-1495020689067-958852a7765e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cc06f2b72a5e6e13cd0ef1da2939590&auto=format&fit=crop&w=1650&q=80");
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 96vh;
}

/* Header elements aligned to center of header. */
header h1 {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: calc(32px + 4vw);
    font-weight: bold;
    text-align: center;
    color: rgb(65, 58, 58);
    margin: 0;
    padding-top: 40px;
}

header h2 {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: calc(22px + 2vw);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(65, 58, 58);
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding-bottom: 120px;
}

/* Header link arrow, positioned relatively and centered. Padding and border radius added to make a circular button. */
header a {
    position: relative;
    top: -100px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border: rgb(65, 58, 58) 2px solid;
    font-size: 32px;
    padding: 15px 20px;
    color: rgb(65, 58, 58);
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: fit-content;
    text-align: center;
    transition: .2s;
    border-radius: 20px;
}

header a:hover {
    padding-top: 20px;
    padding-bottom: 10px;
}

/* Vertical navigation floated and set to 25% of page. Links floated and set to block. H1 headings for navigation menu sections. */
nav.vertical {
    float: left;
    width: 25%;
    display: block;
}

nav.vertical a {
    display: block;
    text-align: left;
    padding: 10px;
}

nav.vertical h1 {
    font-size: calc(24px + .6vw);
    font-weight: bold;
    color: white;
    text-align: left;
    padding: 10px;
    margin: 0;
    text-decoration: underline;
}

/* Main set for article layouts. Main section background color set to white. Section heading and paragraph styles set. */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main section {
    background-color: rgb(219, 219, 219);
}

main section h1 {
    background-color: rgb(65, 58, 58);
    font-size: calc(24px + .6vw);
    font-weight: bold;
    text-align: left;
    padding: 20px;
    margin: 0;
    color: white;
}

main section p {
    padding: 0 20px;
}

/* Hides mobile nav, shows desktop nav. */
nav.desktop {
    display: block;
}

nav.mobile {
    display: none;
}

nav#trending {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Trending section links with hover event. */
nav#trending section {
    height: 300px;
    background-size: 120%;
    background-position: center;
    transition: .6s;
}

nav#trending section:hover {
    background-size: 140%;
}

/* Background images for trending story links. */
#story1 {
    background: url("https://images.unsplash.com/photo-1452626038306-9aae5e071dd3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1002f970f615e046c7c5376c46e13bef&auto=format&fit=crop&w=1353&q=80");
}
#story2 {
    background: url("https://images.unsplash.com/photo-1531303919131-9df51d2b0cc7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=81b60a53e463a1d538eb4c2b095cd342&auto=format&fit=crop&w=1350&q=80")
}
#story3 {
    background: url("https://images.unsplash.com/photo-1509062522246-3755977927d7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1d5d43575cce36ed90f500d138fda96d&auto=format&fit=crop&w=1404&q=80")
}
#story4 {
    background: url("https://images.unsplash.com/photo-1521579772986-45a33628a34e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=171149e28b4b8aa171238f11410d072e&auto=format&fit=crop&w=1350&q=80")
}
#story5 {
    background: url("https://images.unsplash.com/photo-1523050854058-8df90110c9f1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=352d3cdaa50b65c4adf76c1d4dd4ca7e&auto=format&fit=crop&w=1350&q=80")
}
#story6 {
    background: url("https://images.unsplash.com/photo-1534158975540-36cc301767ab?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d04982f91971272262a24a307ced5b99&auto=format&fit=crop&w=1491&q=80")
}
#story7 {
    background: url("https://images.unsplash.com/photo-1508873696983-2dfd5898f08b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5cedc6b95f731395da7269d2341f9a5e&auto=format&fit=crop&w=1350&q=80")
}
#story8 {
    background: url("https://images.unsplash.com/photo-1527720255604-b27935ade401?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c80d4a623fceaa6be3181527e987c20e&auto=format&fit=crop&w=1350&q=80")
}
#story9 {
    background: url("https://images.unsplash.com/photo-1533040038109-9b1fb74bb5d3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0ec98896ef17b7453d318ccd8dd10c20&auto=format&fit=crop&w=975&q=80")
}
#story10 {
    background: url("https://images.unsplash.com/photo-1519987519766-06f3f00495d8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=aa38fd7bf0ab15d49a7d42fe24c6628e&auto=format&fit=crop&w=1351&q=80")
}
#story11 {
    background: url("https://images.unsplash.com/photo-1521989841745-2fded4328e13?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=78f3d18f7c68865f0b829d851b25e278&auto=format&fit=crop&w=1350&q=80")
}
#story12 {
    background: url("https://images.unsplash.com/photo-1532510933101-b163ecba2110?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=31c388d404e3cc0555734f0f4fb08f5c&auto=format&fit=crop&w=1317&q=80")
}

/* Links for trending section. */
nav#trending section a {
    display: block;
    background-color: rgba(11, 24, 24, 0.65);
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    padding: 20px;
    margin: 0;
    color: white;
    margin-top: 160px;
}

/* Hides navigation span until screen is smaller than 1000px. */
span {
    display: none;
}

/* Media query adjust styles and widths based on screen size. On mobile devices show mobile menu, on desktop hide desktop navigation. Span with JavaScript action to display mobile menu appears in navigation bar. Desktop links disapear and desktop sidebar moves to the bottom of the page. */
@media only screen and (max-width: 1000px) {
    a {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    nav:first-of-type a {
        display: none;
    }

nav.vertical {
    z-index: 0;
}
    nav.vertical a {
        display: block;
    }

    span {
        display: block;
        padding: 10px 14px;
        color: white;
        font-size: 32px;
        border: white solid 2px;
        border-radius: 6px;
        margin: 10px;
        width: fit-content;
    }

    nav.mobile {
        display: block;
        width: 100%;
    }

    nav.mobile a {
        width: 100%;
    }

    nav.desktop {
        display: none;
    }

    main {
        grid-template-columns: 1fr;
    }

    
    nav#trending {
        grid-template-columns: 1fr;
    }

    nav#trending section a {
        width: 100%;
        font-size: 24px;
    }
}

/* Footer with prevented container collapse, through the use of psuedo element after footer. */
footer {
    font-size: 22px;
    color: white;
    background-color: rgb(11, 24, 24);
    width: 100%;
    padding: 0;
    margin-top: 30px;
}

footer p {
    display: block;
    float: left;
    padding: 20px;
}

footer::after {
    clear: both;
    content: "";
    display: table;

}

/* Class for sidenaviagation, width set to zero by default but changes on click due to JavaScript. Transition on slideout. */
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: rgb(65, 58, 58);
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
    z-index: 200;
}


/* Sidenav links with hover event. */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.85);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: white;
}

/* Sidenav close button with absolute positioning. */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Media query sets smaller font size and padding for smaller phones. */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}